{% load static wagtailcore_tags wagtailuserbar %}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <link href="{% static 'bootstrap-table.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-table.min.js' %}"></script>
</head>
<body>
<table
        id="table"
        data-toggle="table"
        data-height="460"
        data-ajax="ajaxRequest"
        data-search="true"
        data-side-pagination="server"
        data-pagination="true">
    <thead>
    <tr>
        <th data-field="key01">ID1</th>
        <th data-field="key02">ID1</th>
        <th data-field="key03">ID1</th>
        <th data-field="key04">ID1</th>
        <th data-field="key05">ID1</th>


    </tr>
    </thead>
</table>

<script>
    // your custom ajax request here
    function ajaxRequest(params) {
        var url = 'testdata'
        $.get(url + '?' + $.param(params.data)).then(function (res) {
            params.success(res.data)
        })
    }
</script>


</body>
</html>